
<%= render "navbar" %>

<section class="page-header">
	<div class="container">

	<h1>NEW INTERVENTION</h1>

	</div>
</section>
<!-- /PAGE HEADER -->

<!-- style for the form backgound that's so cooool -->
<style>
	.formBGRE {
		background-image: url(AdobeStock_122227340.jpeg);
		background-repeat: repeat-x;
	}
</style>
<!-- /style for the form backgound that's so cooool -->



<%= render 'form', intervention: @intervention %>


<!-- FOOTER -->
<footer id="footer" class=" footer navbar-fixed-bottom">
	<div class="container">
		<div class="row">
			<!-- col #1 -->
			<div class="col-md-8">
				<h3 class="letter-spacing-1">WHY US?</h3>
				<!-- Small Description -->
				<p>
					To put it simple, Rocket Elevator truly wants to give people safe and comfortable elevators, those infrastructures are a crucial parts of our daily life and should not be taken lightly. That is why we will always make sure that you get the best possible services in all matters.
				</p>
				<h2>+1 800-887-2497</h2>
			</div>
			<!-- /col #1 -->

			<!-- col #2 -->
			<div class="col-md-4">
				<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

				<!-- Newsletter Form -->
				<p>Subscribe to Our Newsletter to get Important News & Offers</p>
				<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit">Subscribe</button>
						</span>
					</div>
				</form>
				<!-- /Newsletter Form -->
			</div>
			<!-- /col #2 -->
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<ul class="float-right m-0 list-inline mobile-block">
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li>&bull;</li>
				<li><a href="#">Privacy</a></li>
			</ul>
			&copy; All Rights Reserved, Rocket Elevator LTD
		</div>
	</div>
</footer>
<!-- /FOOTER -->

