<div class="container">
    <p id="notice"><%= notice %></p>

    <span class= "btn btn-outline-info"><%= link_to 'Edit', edit_intervention_path(@intervention) %></span>
    <span class= "btn btn-outline-secondary"><%= link_to 'Back', interventions_path %></span>
</div>
